@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    --img-size: 96px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    /* background: url(./assets/images/bg-pattern-top.svg) top -600px left -200px no-repeat,
        url(./assets/images/bg-pattern-bottom.svg) bottom -600px right -200px no-repeat; */
    background-color: var(--dark-cyan);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.card {
    width: 350px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.header {
    position: relative;
    width: 100%;
    height: 140px;
    margin-bottom: calc((var(--img-size) / 2) + 1.5rem);
}

.header__overlay {
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(./images/bg-pattern-card.svg);
}

.header__img {
    position: absolute;
    top: calc(140px - (var(--img-size) / 2));
    left: calc(350px / 2 - (var(--img-size) / 2) - 3px);
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 50%;
    background-image: url(./images/image-victor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
    z-index: 2;
}

.content {
    text-align: center;
}

.content__name {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.content__age {
    color: var(--dark-grayish-blue)
}

.content__location {
    color: var(--dark-grayish-blue);
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

.card__footer {
    margin-top: 1.6rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    border-top: 1px #E8E9EC solid;
}

.footer-item {
    text-align: center;
}

.item-number {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.item-desc {
    color: var(--dark-grayish-blue);
    font-size: 0.6rem;
    letter-spacing: 1.5px;
}

.footer__item-desc {
    margin-top: 0.5rem;
}

.container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/bg-pattern-top.svg) top -500px left -300px no-repeat,
        url(./images/bg-pattern-bottom.svg) bottom -600px right -200px no-repeat;
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .container-overlay {
        background: url(./images/bg-pattern-top.svg) top -600px left -400px no-repeat,
            url(./images/bg-pattern-bottom.svg) bottom -600px right -400px no-repeat;
    }
}

@media screen and (max-width: 760px) {
    .container-overlay {
        background: url(./images/bg-pattern-top.svg) top -700px left -500px no-repeat,
            url(./images/bg-pattern-bottom.svg) bottom -700px right -500px no-repeat;
    }
}